:root {
  --font-sans: "metropolis", sans-serif;
  --font-serif: "Lora", "georgia", serif;
  --blue-1:#1475AE;
  --blue-2: #1B9AE4;
  --blue-3: #00A2FF;
  --blue-4: #6CB9E7;
  --off-white: #F5F5F5;
  --black-1: #343A3E;
  --black-2: #242525;
  --width-large: 1200px;
  --width-medium: 900px;
  --width-small: 630px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0d0f10;
  font-family: var(--font-sans);
  color: white;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
}

@media (min-width: 400px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 70px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
  }
}

h2 {
  font-size: 40px;
  line-height: 1.2;
}

@media (min-width: 1000px) {
  h2 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.2;
}

@media (min-width: 1000px) {
  h3 {
    font-size: 34px;
  }
}

p {
  margin-block: 20px;
  line-height: 1.4;
}

:is(h1, h2, h3, p):where(:first-child) {
  margin-top: 0;
}

:is(h1, h2, h3, p):where(:last-child) {
  margin-bottom: 0;
}

ul {
  margin-block: 20px;
}

li {
  margin-block: 10px;
  font-size: 18px;
}

a {
  color: var(--blue-2);
  text-decoration-thickness: 0.3em;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--blue-1);
  transition: all 0.2s;
}

a:hover {
  text-decoration-thickness: 0.5em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
