.detail-group {
  max-width: var(--width-medium);
}

.detail-group__title {
  margin-top: 40px;
}

details {
  position: relative;
}

details:before,
details:last-of-type:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, var(--blue-3) 0%, var(--blue-4) 100%);
}

details:last-of-type:after {
  top: auto;
  bottom: 0;
}

details summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
  position: relative;
  font-weight: bold;
  padding-block: 20px;
  padding-right: 60px;
  cursor: pointer;
}

summary:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 25px;
  width: 10px;
  height: 10px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  rotate: -45deg;
}

[open] summary:after {
  scale: -1;
}

.details__content {
  padding-bottom: 40px;
  font-family: var(--font-serif);
  color: #F5F5F5;
}
