.hero {
  position: relative;
  min-height: 1000px;
  color: white;
  padding-top: 200px;
}

.hero:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(200deg, #000 16.63%, #343A3E 96.64%);
  opacity: 0.7;
}

.hero__container {
  position: relative; /* Establish stacking context to appear above images. */
  z-index: 1;
}

.hero__title {
  margin-block: 0 20px;
}

.hero__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.hero__img,
.hero__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.hero__date {
  margin-block: 0 40px;
  font-size: 21px;
}
