.section-help__inner {
  --offset: 80px;

  background: black;
  padding: var(--offset);
  margin-block: 80px;
  margin-inline: calc(-1 * var(--offset));
  width: calc(100% + 2 * var(--offset));
  border: solid 3px var(--blue-4);
}
