.section-info {
  position: relative;
  padding-block: 180px 100px;
}

.section-info:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(6deg, var(--black-2) -30%, black 75%);
  transform: skewy(-6deg);
}

.section-info .prose {
  max-width: 800px;
}

.section-info .container {
  position: relative;
  z-index: 1;
}
