.section-help__inner {
  --offset: 0px;

  background: black;
  margin-block: 80px;
  margin-left: calc(-1 * var(--offset));
  padding: 40px;
  width: calc(100% + 2 * var(--offset));
  border: solid 3px var(--blue-4);
}

@media (min-width: 1200px) {
  .section-help__inner {
    --offset: 40px;
    padding: var(--offset);
  }
}

@media (min-width: 1400px) {
  .section-help__inner {
    --offset: 80px;
  }
}
