.section-hero {
  --margin-bottom: -150px;

  position: relative;
  color: white;
  margin-bottom: var(--margin-bottom);
  padding-block: 200px 400px;
}

@media (min-width: 600px) {
  .section-hero {
    --margin-bottom: -150px;
  }
}

@media (min-width: 800px) {
  .section-hero {
    --margin-bottom: -100px;
  }
}

@media (min-width: 1400px) {
  .section-hero {
    --margin-bottom: 0px;
  }
}

.section-hero:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(200deg, black 15%, var(--black-1) 97%);
  opacity: 0.5;
}

.section-hero__container {
  position: relative; /* Establish stacking context to appear above images. */
  z-index: 1;
}

.section-hero__title {
  max-width: var(--width-medium);
  margin-block: 0 20px;
}

.section-hero__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.section-hero__img,
.section-hero__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.section-hero__img {
  filter: saturate(2);
}

.section-hero__date {
  margin-block: 0 40px;
  font-size: 21px;
}
