.image-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  .image-wrapper {
    float: right;
    width: min(50vw, 500px);
    margin-left: 40px;
  }
}

.image-wrapper img {
  position: relative;
  z-index: 1;
  border: solid 1px #ffffff22;
}

.image-wrapper:before,
.image-wrapper:after {
  position: absolute;
  left: -20px;
  top: 20px;
  height: 100%;
  width: 100%;
  border: solid 2px #6CB9E7;
  content: "";
  transition: all 0.2s;
}

.image-wrapper:hover:before {
  transform: rotate(2deg) skew(3deg, -3deg) scale(1.01);
}

.image-wrapper:hover:after {
  transform: rotate(2deg) skew(-1deg, 1deg) scale(1.01);
  border-color: hotpink;
}

.edge {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: skewy(-6deg);
}

.edge--blue {
  height: 20px;
  background: linear-gradient(270deg, var(--blue-4) 0%, var(--blue-3) 50%, var(--blue-4) 100%);
  background-position: 0%;
  background-size: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .edge--blue {
    animation-name: edge-blue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes edge-blue {
  from {
    background-position: 0%
  }
  to {
    background-position: 100%;
  }
}

@media (forced-colors: active) {
  .edge--blue {
    height: 0;
    border-top: solid 20px currentColor;
  }
}

.edge--thick-gray {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(266.59deg, #0B0D0F 16.63%, #343A3E 96.64%);
  transform: skewy(-6deg);
  transform-origin: right bottom;
  z-index: 2;
}

.edge--thick-gray:after {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0B0D0F;
  content: "";
}

.prose {
  font-family: var(--font-serif);
  font-size: 18px;
  line-height: 36px;
  color: var(--off-white);
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-block: 40px 20px;
  padding: 15px 20px;
  border: solid 1px transparent;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  text-decoration: none;
  background: var(--blue-1);
}

.button:focus {
  outline: solid 2px white;
  outline-offset: 3px;
}

.button:where(:not(.button--zoom)):after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url('/img/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: translate 0.2s;
}

@media (forced-colors: active) {
  .button:after {
    background: linktext;
    -webkit-mask-image: url('/img/arrow.svg');
    mask-image: url('/img/arrow.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
}

.button:hover:after {
  translate: 5px 0;
}

.button--zoom {
  position: relative;
  padding: 20px 70px 20px 40px;
  background-image: url('/img/zoom.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-size: 22px;
  font-weight: bold;
}

.button--zoom:hover {
  background-color: #015180;
}

.button--zoom:before,
.button--zoom:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: solid 2px transparent;
  content: "";
  transition: all 0.2s;
  pointer-events: none;
}

.button--zoom:hover:before {
  transform: rotate(-1deg) skew(0.2deg, -0.2deg) scale(1.01);
  border-color: #6CB9E7;
}

.button--zoom:hover:after {
  transform: rotate(0.2deg) skew(-0.2deg, 0.2deg) scale(1.01);
  border-color: hotpink;
}

.button--zoom:nth-child(even):hover:before {
  transform: rotate(-0.2deg) skew(0.2deg, -0.2deg) scale(1.01);
  border-color: hotpink;
}

.button--zoom:nth-child(even):hover:after {
  transform: rotate(0.2deg) skew(-0.2deg, 0.2deg) scale(1.01);
  border-color: #6CB9E7;
}
