.image-wrapper {
  position: relative;
}

.image-wrapper img {
  position: relative;
  z-index: 1;
}

.image-wrapper:before {
  position: absolute;
  left: -20px;
  top: 20px;
  height: 100%;
  width: 100%;
  border: solid 2px #6CB9E7;
  content: "";
}
